<div class="large-12 columns">
	<img src="assets/img/landscape8.jpg" width="969" height="294" border="0" alt=""/>
	<h4>Downloads</h4>
	<table cellspacing="13" cellpadding="13" border="0">
		<tr>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Ashtanga 1</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Ashtanga 2</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Ashtanga 3</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Ashtanga 4</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Ashtanga 5</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Ashtanga 6</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Ashtanga 7</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Ashtanga 8</a></td>			
		</tr>
		<tr>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Hatha 1</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Hatha 2</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Hatha 3</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Hatha 4</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Hatha 5</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Hatha 6</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Hatha 7</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Hatha 8</a></td>
		</tr>
		<tr>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Vinyasa 1</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Vinyasa 2</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Vinyasa 3</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Vinyasa 4</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Vinyasa 5</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Vinyasa 6</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Vinyasa 7</a></td>
			<td><a href="#"><i class="fa fa-file-video-o"></i>&nbsp;Vinyasa 8</a></td>
		</tr>
	</table>
</div>	
