
<img src="app/assets/img/landscape5.jpg" width="969" height="294" border="0" alt=""/>
<h4>Workshops</h4>
<div class="row">
  <div class="large-2 columns">
    <form>
      <input ng-model="workshopFilter" type="text" placeholder="Filter workshop by" autofocus />
    </form>
  </div>
  <div class="large-12 columns">
    <table ng-controller="workshopCtrl">
      <thead>
        <tr>
          <th width="250">
            <a href="#" ng-click="orderByField='name'; reverseSort = !reverseSort">
              Name
              <span ng-show="orderByField == 'name'">
                <span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </span>
            </a>
          </th>
          <th width="200">
          <a href="#" ng-click="orderByField='description'; reverseSort = !reverseSort">
              Description
              <span ng-show="orderByField == 'description'">
                <span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </span>
            </a>
          </th>
          <th width="150">
            <a href="#" ng-click="orderByField='date'; reverseSort = !reverseSort">
              Date
              <span ng-show="orderByField == 'date'">
                <span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </span>
            </a>
          </th>
          <th width="100">
            <a href="#" ng-click="orderByField='time'; reverseSort = !reverseSort">
              Time
              <span ng-show="orderByField == 'time'">
                <span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </span>
            </a>
          </th>
          <th width="100">
          <a href="#" ng-click="orderByField='duration'; reverseSort = !reverseSort">
              Duration
              <span ng-show="orderByField == 'duration'">
                <span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </span>
            </a>
          </th>
          <th width="50">
            <a href="#" ng-click="orderByField='price'; reverseSort = !reverseSort">
              Price
              <span ng-show="orderByField == 'price'">
                <span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </span>
            </a>
          </th>
          <th width="150">
           <a href="#" ng-click="orderByField='address'; reverseSort = !reverseSort">
              Address
              <span ng-show="orderByField == 'address'">
                <span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </span>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="workshop in workshops | orderBy: orderByField:reverseSort | filter: workshopFilter">
          <td valign="top">{{ workshop.name | uppercase}}</td>
          <td valign="top">{{ workshop.description}}</td>
          <td valign="top">{{ workshop.date |  date:'dd-MMM-yyyy'}}</td>
          <td valign="top">{{ workshop.time}}</td>
          <td valign="top">{{ workshop.duration | durations}}</td>
          <td valign="top">{{ workshop.price | currency : 'R'}}</td>
          <td valign="top">{{workshop.location.address}}, {{workshop.location.suburb}}, {{workshop.location.city}}, {{workshops.location.province}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>